@model Empresa22.Models.DetalleVentum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetalleVentum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetalleVentaId" />
            <div class="form-group">
                <label asp-for="VentaId" class="control-label"></label>
                <select asp-for="VentaId" class="form-control" asp-items="ViewBag.VentaId"></select>
                <span asp-validation-for="VentaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId"></select>
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
